body {
  padding-top: 5rem;
  margin: 5em;
  color: lavender;
  font-family: "Trebuchet MS";
  background: white;
}
  body { background-image:url(https://cdn.glitch.me/1e743bef-bdd3-48af-aba9-f38a0a5119da%2FHMvH1s.mp4?v=1637299266362); 
  background-repeat:repeat;
  background-size: 2200px;
}
  
  
}
nav {
  font-family: Copperplate;
  text-color: brown;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
 
  
}
.nav-p{
  display:inline-block;
  padding-top:.3125rem;
  padding-bottom:.3125rem;
  margin-right:1rem;
  font-size:1.25rem;

  line-height:inherit;
  white-space:nowrap;
  color: white;
  
}

